/*write some responsive code here */
/* Large desktops and laptops */
@media (min-width: 1200px) {
	
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.atom-home-area, .atom-home-area > .container{
		height: auto;
	}
	.atom-wrapper{
		width: 100%;
		position: static;
		top: 0;
		margin-top: 50px !important;
		margin-bottom: 50px;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	
}