/*this file is containing all of your theme style and modification*/

/* ============ sass important setup =============*/

$c-color: #323232;
$f-color: #fff;
$s-color: #f3f3f3;

@mixin border-radius($radius : 0) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* Table of content 
1. PRELOADER
2. DOCUMENT SETUP
3. MISC AND RE-USABLE ELEMENT
4. HOME
5. SERVICE
6. CTA
7. ABOUT US
8. WORKS
9. SUBSCRIBE
10. FOOTER

*/


/* =============== Dcument setup ================= */

/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);

html,body{
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: $c-color;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
h1{
	padding: 10px 0;
	font-weight: 700;
}
p{
	line-height: 25px;
	padding: 5px 0;
}
a{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a,a:hover,a:focus,a:active{
	outline: 0;
	text-decoration: none;
}

/* ============== Misc and re-usable element ============== */
section{
	padding: 80px 0;
}
.atom-section-heading{
	h2{
		color: #e74c3c;
		font-size: 40px;
		font-weight: 700;
	}
	p{
		line-height: 30px;
	}
	.atom-header-border{
		background: url(../img/header-border.png) no-repeat;
		height: 13px;
		width: 78px;
		display: inline-block;
	}
}

/* ============== Home style ============== */
.atom-home-area{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
}
.atom-home-area > .container{
	height: 100%;
	position: relative;
}
.atom-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	top: 35%;
}
.atom-countdown{
	div{
		display: inline-block;
		span{
			display: block;
			width: 200px;
			&:first-child{
				font-size: 50px;
				font-weight: 300;
				line-height: 64px;
				font-weight: 700;
			}
			&:last-child{
				font-size: 30px;
				line-height: 20px;
				border: 3px solid $c-color;
				@include border-radius;
				padding: 15px 10px;
				margin: 20px auto 0px;
				width: 160px;
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
}
.atom-scroll-down{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	display: inline-block;
	height: 40px;
	text-align: center;
	a{
		width: 40px;
		height: 40px;
		color: $c-color;
		display: block;
		border: 1px solid $c-color;
		line-height: 40px;
		@include border-radius;
		&:hover{
			background: #ff00ff;
			color: #fff;
			border-color: #ff00ff;
		}
	}
}

/* ============= SERVICE STYLE ============ */
.atom-single-service{
	margin-top: 50px;
	.atom-icon{
		margin-bottom: 30px;
	}
}
/* ============= cta style ============= */
.atom-cta-area{
	background: url(../img/cta-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 50px 0;
	.atom-header{
		margin: 20px 0;
	}
	.atom-button{
		a{
			font-size: 30px;
			padding: 10px 40px;
			color: $c-color;
			background-color: transparent;
			font-weight: 700;
			border-color: $c-color;
			@include border-radius;
			&:hover,&:focus{
				color: #ff00ff;
				border-color: #ff00ff;
			}
		}
		p{
			font-size: 20px;
			color: $c-color;
			font-weight: 600;
		}
	}
}


/* =============== about style ============== */
.atom-about-area{
	background: $f-color;
	.atom-company-work{
		margin-top: 50px;
	}
	.atom-big-logo{
		margin-top: 100px;
	}
	.atom-company-history{
		margin-top: 50px;
	}
}

/* =============== work style ============== */
.atom-work-area{
	background: $s-color;
	padding-top: 40px;
	padding-bottom: 100px;
	.atom-owl{
		width: 100%;
		padding: 0;
		overflow: hidden;
		.item{
			width: 100%;
			padding: 0;
			position: relative;
			overflow: hidden;
			&:hover{
				.atom-caption{
					background: rgba( 255, 255, 255, 0.55 );
					h3{
						top: 30%;
						opacity: 1;
					}
				}
				img{
					-webkit-transform: scale(1.2);
					-ms-transform: scale(1.2);
					-o-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
			.atom-caption{
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				-webkit-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
				transition: all 0.25s ease-in-out;
				h3{
					color: $c-color;
					font-weight: 700;
					position: absolute;
					top: 80%;
					-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
					opacity: 0;
					line-height: 30px;
				}
			}
			img{
				width: 100%;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-ms-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}
		}
	}
}


/* =============== subscibe style ============= */
.atom-subscribe-area{
	padding: 80px 0;
	background: url(../img/subscribe-bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;

	.atom-form{
		margin-top: 20px;
		input{
			height: 50px;
			padding: 0 20px;
			margin-top: 20px;
			border: 3px solid $c-color;
			outline: none;
			background-color: transparent;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			@include border-radius;
			font-weight: 700;
			&:focus{
				border-color: #ff00ff;
			}
			&::-webkit-input-placeholder{
				color: #323232;
			}
			&::-moz-input-placeholder{
				color: #323232;
			}
			&:-ms-input-placeholder{
				color: #323232;
			}
		}
		input[type="submit"]:hover{
			border-color: #ff00ff;
			background: #ff00ff;
			color: #fff;
		}
	}
}

/* ============ footer style ============== */
.atom-footer-area{
	background: $f-color;
	padding: 50px 0;
	img{
		margin-bottom: 30px;
	}
	p{
		line-height: 30px;
		padding: 0;
		a{
			font-weight: 700;
			color: $c-color;
		}
	}
}

#scrollUp{
	background: #454545;
	height: 30px;
	width: 30px;
	right: 20px;
	bottom: 20px;
	font-family: 'FontAwesome';
	@include border-radius;
	&:after{
		content: '\f077';
		left: 25%;
		position: absolute;
		top: 15%;
		color: #fff;
	}
}


