/*this file is containing all of your theme style and modification*/
/* ============ sass important setup =============*/
/* Table of content 
1. PRELOADER
2. DOCUMENT SETUP
3. MISC AND RE-USABLE ELEMENT
4. HOME
5. SERVICE
6. CTA
7. ABOUT US
8. WORKS
9. SUBSCRIBE
10. FOOTER

*/
/* =============== Dcument setup ================= */
/* google fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700,800);
html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #323232;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  padding: 10px 0;
  font-weight: 700;
}

p {
  line-height: 25px;
  padding: 5px 0;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a, a:hover, a:focus, a:active {
  outline: 0;
  text-decoration: none;
}

/* ============== Misc and re-usable element ============== */
section {
  padding: 80px 0;
}

.atom-section-heading h2 {
  color: #e74c3c;
  font-size: 40px;
  font-weight: 700;
}
.atom-section-heading p {
  line-height: 30px;
}
.atom-section-heading .atom-header-border {
  background: url(../img/header-border.png) no-repeat;
  height: 13px;
  width: 78px;
  display: inline-block;
}

/* ============== Home style ============== */
.atom-home-area {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.atom-home-area > .container {
  height: 100%;
  position: relative;
}

.atom-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  top: 35%;
}

.atom-countdown div {
  display: inline-block;
}
.atom-countdown div span {
  display: block;
  width: 200px;
}
.atom-countdown div span:first-child {
  font-size: 50px;
  font-weight: 300;
  line-height: 64px;
  font-weight: 700;
}
.atom-countdown div span:last-child {
  font-size: 30px;
  line-height: 20px;
  border: 3px solid #323232;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 15px 10px;
  margin: 20px auto 0px;
  width: 160px;
  text-transform: uppercase;
  font-weight: 300;
}

.atom-scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  display: inline-block;
  height: 40px;
  text-align: center;
}
.atom-scroll-down a {
  width: 40px;
  height: 40px;
  color: #323232;
  display: block;
  border: 1px solid #323232;
  line-height: 40px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.atom-scroll-down a:hover {
  background: #ff00ff;
  color: #fff;
  border-color: #ff00ff;
}

/* ============= SERVICE STYLE ============ */
.atom-single-service {
  margin-top: 50px;
}
.atom-single-service .atom-icon {
  margin-bottom: 30px;
}

/* ============= cta style ============= */
.atom-cta-area {
  background: url(../img/cta-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 50px 0;
}
.atom-cta-area .atom-header {
  margin: 20px 0;
}
.atom-cta-area .atom-button a {
  font-size: 30px;
  padding: 10px 40px;
  color: #323232;
  background-color: transparent;
  font-weight: 700;
  border-color: #323232;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
.atom-cta-area .atom-button a:hover, .atom-cta-area .atom-button a:focus {
  color: #ff00ff;
  border-color: #ff00ff;
}
.atom-cta-area .atom-button p {
  font-size: 20px;
  color: #323232;
  font-weight: 600;
}

/* =============== about style ============== */
.atom-about-area {
  background: #fff;
}
.atom-about-area .atom-company-work {
  margin-top: 50px;
}
.atom-about-area .atom-big-logo {
  margin-top: 100px;
}
.atom-about-area .atom-company-history {
  margin-top: 50px;
}

/* =============== work style ============== */
.atom-work-area {
  background: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 100px;
}
.atom-work-area .atom-owl {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.atom-work-area .atom-owl .item {
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.atom-work-area .atom-owl .item:hover .atom-caption {
  background: rgba(255, 255, 255, 0.55);
}
.atom-work-area .atom-owl .item:hover .atom-caption h3 {
  top: 30%;
  opacity: 1;
}
.atom-work-area .atom-owl .item:hover img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.atom-work-area .atom-owl .item .atom-caption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.atom-work-area .atom-owl .item .atom-caption h3 {
  color: #323232;
  font-weight: 700;
  position: absolute;
  top: 80%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  line-height: 30px;
}
.atom-work-area .atom-owl .item img {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* =============== subscibe style ============= */
.atom-subscribe-area {
  padding: 80px 0;
  background: url(../img/subscribe-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.atom-subscribe-area .atom-form {
  margin-top: 20px;
}
.atom-subscribe-area .atom-form input {
  height: 50px;
  padding: 0 20px;
  margin-top: 20px;
  border: 3px solid #323232;
  outline: none;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-weight: 700;
}
.atom-subscribe-area .atom-form input:focus {
  border-color: #ff00ff;
}
.atom-subscribe-area .atom-form input::-webkit-input-placeholder {
  color: #323232;
}
.atom-subscribe-area .atom-form input::-moz-input-placeholder {
  color: #323232;
}
.atom-subscribe-area .atom-form input:-ms-input-placeholder {
  color: #323232;
}
.atom-subscribe-area .atom-form input[type="submit"]:hover {
  border-color: #ff00ff;
  background: #ff00ff;
  color: #fff;
}

/* ============ footer style ============== */
.atom-footer-area {
  background: #fff;
  padding: 50px 0;
}
.atom-footer-area img {
  margin-bottom: 30px;
}
.atom-footer-area p {
  line-height: 30px;
  padding: 0;
}
.atom-footer-area p a {
  font-weight: 700;
  color: #323232;
}

#scrollUp {
  background: #454545;
  height: 30px;
  width: 30px;
  right: 20px;
  bottom: 20px;
  font-family: 'FontAwesome';
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
#scrollUp:after {
  content: '\f077';
  left: 25%;
  position: absolute;
  top: 15%;
  color: #fff;
}
